.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: hsl(222, 26%, 31%);
  min-width: 1200px;
  max-width: 1200px;
  padding: 30px;
}

.calculator {
  display: flex;
  flex-direction: column;
  gap: 25px;
  min-width: 540px;
  max-width: 540px;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.header h1 {
  text-transform: lowercase;
  font-size: 1.5em;
}

.themeSwitcher {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.themeSwitcher h2 {
  text-transform: uppercase;
  font-size: 0.8rem;
}

.totalContainer {
  text-align: right;
  background-color: hsl(224, 36%, 15%);
  border-radius: 5px;
  padding: 40px 30px;
  font-size: 32px;
  font-weight: 700;
}

.keypad {
  background-color: hsl(223, 31%, 20%);
  border-radius: 5px;
  padding: 30px;
}
