.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 750px;
  max-width: 750px;
  background-color: white;
  padding: 30px;
  border-radius: 20px;
  gap: 30px;
  color: black;
}

.cardHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.countContainer {
  display: flex;
  align-items: center;
  gap: 20px;
}

.pill {
  text-align: center;
  background-color: #1e3075;
  color: #fff;
  font-size: larger;
  border-radius: 5px;
  padding: 5px 12px 5px 12px;
}

.notificationBtn {
  border: 0;
  background-color: white;
  color: #afb1b9;
  font-weight: 600;
  font-size: large;
}

.notificationBtn:hover {
  color: #8e8f94;
}

.notificationContainer {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
}

.notification {
  display: flex;
  width: 100%;
  padding: 15px;
}

.notification:hover {
  background-color: #f7fafd;
  border-radius: 10px;
}

.details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 20px;
  width: 100%;
}

.details .title {
  color: #727375;
  font-weight: bold;
}

.blueTxt {
  color: #2753e4 !important;
}

.details p {
  color: #8b8e97;
}

.details span {
  color: #1d1f27;
  font-weight: bold;
}

.details .timestamp {
  color: #989aa2;
  font-weight: normal;
}

.details .dot {
  border-radius: 50%;
  background-color: #ea665c;
  width: 9px;
  height: 9px;
}

.details .preview {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 95%;
}

.previewHeadContainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.details .preview .previewHeader {
  display: flex;
  align-items: center;
  gap: 5px;
}

.pm {
  border: #e9ebed;
  border-width: 2px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-top: 10px;
  width: 95%;
  font-size: large;
  color: #86888d;
}
